.customInput {
    border-radius: 4px;
    border: 1px solid #D0CFCF;
    font-family: Nunito;
    width: 328px;
    font-size: 16px;
    font-weight: 400;

    &::-webkit-file-upload-button {
        border-radius: 4px 0px 0px 4px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        padding: 14px 15px;
        margin-right: 20px;
        cursor: pointer;
    }
};